body {
  font-family: 'Open Sans', sans-serif;
  background-color: $primary-light-color;
}

main {
  background-color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: $primary-dark-color;
}

ul {
  list-style: none;

  & > li::before {
    content: "\2022";
    color: $secondary-color;
  }
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $primary-light-color;
  }
}
