/* palette: https://www.colourlovers.com/palette/27905/threadless */
$primary-color: #3A89C9;
$primary-light-color: #9CC4E4;
$primary-dark-color: #1B325F;
$secondary-color: #F26C4F;
$background-color: #E9F2F9;
